.delivary{
    transition: all 0.5s linear;
    cursor: pointer;
     padding-bottom: 45px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.delivary:hover{
    transform: scale(1.1);
}