.banner{
        background-image: url(../../photo/orange.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        height:450px;
        padding-top:130px;
        margin-bottom: 50px;

}
.online{
        color:rgb(8, 31, 61);
}